.button {
  outline: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  &--primary {
    background-color: map-get($colors, indigo-700);
    box-shadow:
      0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: map-get($colors, white);
    &:hover {
      background-color: map-get($background-colors, indigo-800);
    }
    &:active {
      box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    }
    &:disabled {
      background-color: map-get($background-colors, disabled);
    }
  }
  &--secondary {
    background-color: map-get($background-colors, white);
    box-shadow:
      0px 1px 3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: map-get($colors, neutral-900);
    &:hover {
      background-color: map-get($background-colors, neutral-50);
      color: map-get($colors, neutral-950);
    }
    &:active {
      background-color: map-get($colors, neutral-50);
      box-shadow: 0px 0px 0px 4px rgba(229, 231, 235, 0.12);
      border-color: map-get($colors, neutral-200);
      box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    }
    &:disabled {
      background-color: map-get($background-colors, disabled);
    }
  }
  &--link {
    background-color: transparent;
    color: map-get($colors, indigo-700);
    &:hover {
      color: map-get($colors, indigo-800);
      background-color: map-get($background-colors, neutral-50);
    }
    &:active {
      background-color: map-get($colors, neutral-50);
      box-shadow: 0px 0px 0px 4px rgba(229, 231, 235, 0.12);
      border-color: map-get($colors, neutral-200);
      box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    }
    &:disabled {
      color: map-get($colors, neutral-400);
    }
  }
  &--left-aligned-content {
    justify-content: flex-start;
  }

  &--full-width {
    width: 100%;
  }
  transition: all 0.2s linear;
}
