// Typography
$font-family: 'Noto Sans', sans-serif;
$font-weights: (
  normal: 400,
  medium: 500,
  semibold: 600
);

$font-sizes: (
  xsmall: 12px,
  small: 14px,
  base: 16px,
  large: 20px,
  xlarge: 24px,
  xxlarge: 30px
);

// Breakpoints
$breakpoints: (
  desktop: 1440px,
  tablet: 768px,
  mobile: 375px
);

// Grid settings
$container-max-widths: (
  desktop: 1280px,
  tablet: 100%,
  mobile: 100%
);
$columns: (
  desktop: 12,
  tablet: 6,
  mobile: 4
);
$column-gap: 32px;

// Spacing
$base-spacing: 4px;
$side-padding: (
  desktop: 32px,
  tablet: 32px,
  mobile: 16px
);

// Colors
$colors: (
  white: #ffffff,
  indigo-700: #4338ca,
  indigo-50: #eef2ff,
  gray-50: #f9fafb,
  neutral-50: #fafafa,
  neutral-200: #e5e5e5,
  neutral-400: #a3a3a3,
  neutral-500: #737373,
  neutral-600: #525252,
  neutral-700: #404040,
  neutral-950: #0a0a0a,
  neutral-900: #171717,
  error: #dc2626,
  success: #15803d,
  warning: #a16207
);

// Background colors
$background-colors: (
  white: #ffffff,
  indigo-700: #4338ca,
  indigo-800: #3730a3,
  indigo-50: #eef2ff,
  gray-50: #f9fafb,
  neutral-50: #fafafa,
  neutral-200: #e5e5e5,
  neutral-400: #a3a3a3,
  neutral-500: #737373,
  neutral-600: #525252,
  neutral-700: #404040,
  neutral-950: #0a0a0a,
  neutral-900: #171717,
  secondary: #e5e7eb,
  disabled: #f5f5f5,
  error: #dc2626,
  success-subtle: #f0fdf4,
  success: #15803d,
  warning-subtle: #fffbeb,
  fushia: #c026d3,
  light-fushia: #fdf4ff,
  light-orange: #f97316,
  light-gray: #e5e5e5
);

$spacings: (
  x: 4px,
  2x: 8px,
  3x: 12px,
  4x: 16px,
  6x: 24px,
  8x: 32px
);
